img {
    width: 25vw;  
}

#home {

    background-image: url("assets/evolucion.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}




    #escena1 {
  background-image: url("assets/egiptogato.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}



#escena2 {

    background-image: url("assets/demoncat.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


#escena3 {

    background-image: url("assets/gatoilus.jpg");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#escena4 {

    background-image: url("assets/gatosilly.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


#escena5 {

    background-image: url("assets/gatocalipsis.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}